.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  border-radius: 20px;
}
.header{
  background-color: black;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: rama-gothic-e;
}

.kierLogo{
  height: 200px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 50px;
  font-size: x-large;
  font-family: rama-gothic-e;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 15px;
}

a {
  color: #fff;
}