.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  border-radius: 20px;
}

.App-logo:hover{
  cursor: pointer;
}

.header{
  background-color: black;
}

.kierLogo{
  height: 250px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 70px;
  font-size: x-large;
  font-family: rama-gothic-e;
}

a {
  color: whitesmoke;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 70px;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  font-family: rama-gothic-e;
}

.FortuneCard {
  height: 600px;
  width: 450px;
}